jobs/nifi/MongoDB.json
{"flowContents":{"identifier":"7b7201e2-674d-3900-9cd4-67335f372248","instanceIdentifier":"12308566-0181-1000-c6c7-b871cdbe53bc","name":"MongoDB","comments":"","position":{"x":289.0,"y":295.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"96a4e10e-95c2-3dff-9fb5-7a65e6763711","instanceIdentifier":"0181100e-c3b8-1259-3a0c-732d7438a630","name":"PutHDFS","comments":"","position":{"x":720.0,"y":296.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.16.2"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/nifi/driver/core-site.xml, /opt/nifi/driver/hdfs-site.xml","Remote Owner":"hadoop","Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":"hadoop","Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/datalake/raw/contratos/${now():format('yyyyMMdd')}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b7201e2-674d-3900-9cd4-67335f372248"},{"identifier":"cf03492a-edf6-3fe4-8cfe-82b8c5713346","instanceIdentifier":"123178bc-0181-1000-bba4-97c13d9b26f4","name":"GetMongo","comments":"","position":{"x":335.0,"y":71.0},"type":"org.apache.nifi.processors.mongodb.GetMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.16.2"},"properties":{"mongo-client-service":"39c4453f-cefe-361e-9e37-59193bf88de0","mongo-charset":"UTF-8","ssl-context-service":null,"Query":null,"ssl-client-auth":"REQUIRED","mongo-date-format":"yyyy-MM-dd'T'HH:mm:ss'Z'","json-type":"Extended","Projection":null,"Mongo Database Name":"locadora","mongo-query-attribute":null,"results-per-flowfile":null,"Mongo URI":null,"Batch Size":null,"Mongo Collection Name":"contratos","Sort":null,"use-pretty-printing":"true","Limit":null,"get-mongo-send-empty":"false"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"mongo-charset":{"name":"mongo-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"mongo-date-format":{"name":"mongo-date-format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"json-type":{"name":"json-type","displayName":"JSON Type","identifiesControllerService":false,"sensitive":false},"Projection":{"name":"Projection","displayName":"Projection","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"mongo-query-attribute":{"name":"mongo-query-attribute","displayName":"Query Output Attribute","identifiesControllerService":false,"sensitive":false},"results-per-flowfile":{"name":"results-per-flowfile","displayName":"Results Per FlowFile","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"Sort":{"name":"Sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false},"use-pretty-printing":{"name":"use-pretty-printing","displayName":"Pretty Print Results JSON","identifiesControllerService":false,"sensitive":false},"Limit":{"name":"Limit","displayName":"Limit","identifiesControllerService":false,"sensitive":false},"get-mongo-send-empty":{"name":"get-mongo-send-empty","displayName":"Send Empty Result","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"8640 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b7201e2-674d-3900-9cd4-67335f372248"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"adf29812-2c17-3f17-95e1-5b7187e896e7","instanceIdentifier":"0181100f-c3b8-1259-4cf1-b24e36419719","name":"","source":{"id":"cf03492a-edf6-3fe4-8cfe-82b8c5713346","type":"PROCESSOR","groupId":"7b7201e2-674d-3900-9cd4-67335f372248","name":"GetMongo","comments":"","instanceIdentifier":"123178bc-0181-1000-bba4-97c13d9b26f4"},"destination":{"id":"96a4e10e-95c2-3dff-9fb5-7a65e6763711","type":"PROCESSOR","groupId":"7b7201e2-674d-3900-9cd4-67335f372248","name":"PutHDFS","comments":"","instanceIdentifier":"0181100e-c3b8-1259-3a0c-732d7438a630"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b7201e2-674d-3900-9cd4-67335f372248"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"39c4453f-cefe-361e-9e37-59193bf88de0","instanceIdentifier":"0181100c-c3b8-1259-dc1b-7a44c8b92e51","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"1.16.2"},"properties":{"ssl-context-service":null,"ssl-client-auth":"NONE","Database User":null,"mongo-uri":"mongodb://34.151.219.59:27017/locadora"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"1.16.2"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7b7201e2-674d-3900-9cd4-67335f372248"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}